*.log
*.aux
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.maf
*.mlf1
*.mlf2
*.mlf3
*.mlf4
*.mlf5
*.mlf6
*.mlf7
*.mlf8
*.mlt1
*.mlt2
*.mlt3
*.mlt4
*.mlt5
*.mlt6
*.mlt7
*.mlt8
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.mtc7
*.mtc8
*.mtc9
*.pdf
*.synctex.gz
*.tdo
*.toc
*.sta
*.stp
*.gnuplot
*.table
*.ml*
*.mtc*
*.pdf
*.pdf
*.png
tabelle.primo.synctex.gz(busy)
tabelle.primo.blg
tabelle.primo.ptc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.blg
*.sbl
*.slg
*.sym
*.slo
*.sls
